* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

body {
  background-color: #f49390;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: bisque;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  object-fit: contain;
}

p {
  color: blueviolet;
}

.chat__container {
  margin: 3rem;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 10px;
}

.chat__container > h3 {
  text-align: center;
}

#messages__container {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#user__input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
